body {
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

h2 main {
    font-size: 30px;     
 }

main {
     border-radius: 10px;
}  

p  {
    font-size: 14px;
} 

footer p {
    text-align: center;
    background-color: black;
    color: white;
    }

h1 {
    text-align: center;
    color:blue;
}
